rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // For testing and simple Web-SDK-on-server setups:
    // Allows both authenticated admins (subdomain) and unauthenticated server actions (main domain)
    // to query and submit data directly.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
